<!-- Page Content goes here -->
<main class="my-wrapper valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card grey lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title center">Login</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, odio.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>