$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$i-error: "\e90c";
$i-error_outline: "\e90d";
$i-email: "\e900";
$i-alternate_email: "\e901";
$i-send: "\e902";
$i-blur_on: "\e907";
$i-navigate_before: "\e90a";
$i-navigate_next: "\e90b";
$i-person: "\e903";
$i-person_add: "\e904";
$i-person_outline: "\e905";
$i-https: "\e908";
$i-lock_outline: "\e909";
$i-verified_user: "\e906";
$i-envelope-o: "\f003";
$i-user: "\f007";
$i-chevron-left: "\f053";
$i-chevron-right: "\f054";
$i-twitter-square: "\f081";
$i-facebook-square: "\f082";
$i-github-square: "\f092";
$i-twitter: "\f099";
$i-facebook: "\f09a";
$i-facebook-f: "\f09a";
$i-github: "\f09b";
$i-bars: "\1f310";
$i-envelope: "\f0e0";
$i-mail-reply: "\f112";
$i-reply: "\f112";
$i-mail-reply-all: "\f122";
$i-reply-all: "\f122";
$i-google: "\f1a0";
$i-paper-plane: "\f1d8";
$i-send1: "\f1d8";
$i-paper-plane-o: "\f1d9";
$i-send-o: "\f1d9";
$i-facebook-official: "\f230";
$i-user-plus: "\f234";
$i-envelope-open: "\f2b6";
$i-envelope-open-o: "\f2b7";
$i-user-circle-o: "\f2be";

