@mixin response-image($url) {
  $small: str-insert($url, "_small", -5);
  $medium: str-insert($url, "_medium", -5);
  $large: str-insert($url, "_large", -5);

  background-image: url($small);

  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: 144dpi),
  only screen and (min-resolution: 1.5dppx){
    /* Retina-specific stuff here */

    background-image: url($medium);
  }

  @media
  only screen and (min-width: $screen-l) {
    background-image: url($medium);

    @media
    (-webkit-min-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx){
      /* Retina-specific stuff here */

      background-image: url($large);
    }
  }

  @media
  only screen and (min-width: $screen-xxl) {
    background-image: url($large);
  }
}