$screen-m: 601px !default;
$screen-l: 993px !default;
$screen-xl: 1201px !default;
$screen-xxl: 1921px !default;

$color-facebook: #1877f2;
$color-google: #d34836;

$color-brand: #5e3b4d;
$color-brand2: #d9e2a8;